@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .icon-active{
        @apply ml-10;
    }

    .sidebar-hidden{
        @apply ml-[calc(-20%+1.25rem)] max-lg:ml-[calc(-33%+1.25rem)] max-sm:ml-[calc(-95%+1.5rem)] ;
    }

}

html,body{
    height: 100%;
}

@font-face {
    font-family: 'Brooklyn';
    font-style: normal;
    font-weight: normal;
    src: local('Brooklyn'), url('/Brooklyn.ttf') format('truetype');
}

.font-brooklyn{
    font-family: Brooklyn;
}
