@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .icon-active{
        @apply ml-10;
    }

    .sidebar-hidden{
        @apply ml-[calc(-20%+1.25rem)] max-lg:ml-[calc(-33%+1.25rem)] max-sm:ml-[calc(-95%+1.5rem)] ;
    }

}

html,body{
    height: 100%;
}

@font-face {
    font-family: 'Brooklyn';
    font-style: normal;
    font-weight: normal;
    src: local('Brooklyn'), url('/Brooklyn.ttf') format('truetype');
}

.font-brooklyn{
    font-family: Brooklyn;
}


/*:root {
/*  --foreground: 0, 0, 0;*/
/*  --background-start: 214, 219, 220;*/
/*  --background-end: 255, 255, 255;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground: 255, 255, 255;*/
/*    --background-start: 0, 0, 0;*/
/*    --background-end: 0, 0, 0;*/
/*  }*/
/*}*/

/*body {*/
/*  color: rgb(var(--foreground));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end))*/
/*    )*/
/*    rgb(var(--background-start));*/
